-----BEGIN CERTIFICATE-----
MIIEyTCCA7GgAwIBAgIRAKNUJi9CsvuOm/OhNVJmq7MwDQYJKoZIhvcNAQELBQAw
ZDELMAkGA1UEBhMCTkwxFjAUBgNVBAgTDU5vb3JkLUhvbGxhbmQxEjAQBgNVBAcT
CUFtc3RlcmRhbTEPMA0GA1UEChMGVEVSRU5BMRgwFgYDVQQDEw9URVJFTkEgU1NM
IENBIDIwHhcNMTUwNDAxMDAwMDAwWhcNMTgwMzMxMjM1OTU5WjBVMSEwHwYDVQQL
ExhEb21haW4gQ29udHJvbCBWYWxpZGF0ZWQxMDAuBgNVBAMTJ2dlb3JjaGVzdHJh
LWRldi51bXJ0aGVtYS51bml2LWZjb210ZS5mcjCCASIwDQYJKoZIhvcNAQEBBQAD
ggEPADCCAQoCggEBALjbsYF58UgO2moUWE1+64nFcxFjzujOHw4vNmNe5LcJlNa8
RpN6Hj7q3gr4YlYbxwo/5IU80XhM+Ut4lPNKozVPwUQ4+xEWtc0m1L/nw06ajJfq
g078qR58PMibPp74sRicZmn4Osg3IAs+qqbCCUigI1NZ56A3SRg3+W5wSSF8hMeo
Ts9VL3IVENxAmsYTmcmkTGWj/UljrR8gweo53W6ITf8KmEy5qYW+EqmzkI9RGtHs
OZEwKP4+OUGFrRrYxMOFn6XBX0EZWY6vQiyoPY3ZfunOHy3ef5Z5l682vV57+3mP
61qjcFeXqDIhQh//EwE2zusA0PgPXn4yspvCu0cCAwEAAaOCAYMwggF/MB8GA1Ud
IwQYMBaAFFvQihyaMlvgtd2WVBvhhiiw/ba9MB0GA1UdDgQWBBStE2k8iUF5XLxk
t4uTNBl5NP6KFDAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUE
FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQIC
HTAIBgZngQwBAgEwOgYDVR0fBDMwMTAvoC2gK4YpaHR0cDovL2NybC51c2VydHJ1
c3QuY29tL1RFUkVOQVNTTENBMi5jcmwwbAYIKwYBBQUHAQEEYDBeMDUGCCsGAQUF
BzAChilodHRwOi8vY3J0LnVzZXJ0cnVzdC5jb20vVEVSRU5BU1NMQ0EyLmNydDAl
BggrBgEFBQcwAYYZaHR0cDovL29jc3AudXNlcnRydXN0LmNvbTAyBgNVHREEKzAp
gidnZW9yY2hlc3RyYS1kZXYudW1ydGhlbWEudW5pdi1mY29tdGUuZnIwDQYJKoZI
hvcNAQELBQADggEBABni/LoCdMWf2jeI5J/7/9TXeDGrpXMbAZLQWQsUZeUsV+1f
nRr/uKZe61N2nIamHKoObAuJHoJ92qIgytxguoqN2w4L4k4DyTh+UXImqi/FofJc
NrCH2es4Dw+ZEiqerGMwrsO/xpvVAmD6UEetJpWMsjk3PVfQjJAE88FmO3fnGhg1
hNfgceNwwBUmvjny6kuyG3Mkb2f+N1KjTiy/eWvMieQ+inNHI7tE/crPlOgWIWLC
5cO0S9sT8z/4uYKHMCbDA4aCRHTaCWIf6Sn7kgRigBa6QlYJt1dSUvNNs9toNDMd
xcA09wCoW+Q3Xmi3QI3eykL3eECo5Pp//g+sRLE=
-----END CERTIFICATE-----
