-----BEGIN CERTIFICATE-----
MIIEwTCCA6mgAwIBAgIRAP+EJg8zWvMSVQgphxfxaNQwDQYJKoZIhvcNAQELBQAw
ZDELMAkGA1UEBhMCTkwxFjAUBgNVBAgTDU5vb3JkLUhvbGxhbmQxEjAQBgNVBAcT
CUFtc3RlcmRhbTEPMA0GA1UEChMGVEVSRU5BMRgwFgYDVQQDEw9URVJFTkEgU1NM
IENBIDIwHhcNMTQxMTI1MDAwMDAwWhcNMTcxMTI0MjM1OTU5WjBRMSEwHwYDVQQL
ExhEb21haW4gQ29udHJvbCBWYWxpZGF0ZWQxLDAqBgNVBAMTI2dlb3JjaGVzdHJh
LnVtcnRoZW1hLnVuaXYtZmNvbXRlLmZyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEA8hl3LLPYcGpzzfxZyiI/fvqSG4G8lV1FnXQgMi/piH9Vsop14hyA
W74PtwPm5B0o+ivv6Emfgu2r9ri0mL5y+kJArxDzB3LnV5lnUVyzbCPg6PmmRcOL
tCVAy1gVldZBHhuKPFA8G0N28VUme2ml/oUNlARo9etOfzyMj4R/fL6eWl99Vwr2
Ab/gcfDjbZ9r2R1rYjwz10CwyqXh/PLriExsR8cgNQRTaS5B72o2bLNqWX54c/sG
sQdoXL8kg90pczbDU7guoDRMeT3UG9s9UNdxv85jZ6TyyVlz0coB/SInXjg1d605
kclxPI6GQcZxxLeB7+gFOulhHU68++XqqwIDAQABo4IBfzCCAXswHwYDVR0jBBgw
FoAUW9CKHJoyW+C13ZZUG+GGKLD9tr0wHQYDVR0OBBYEFAgTgIofJ9nRsprhguSa
Wc/7TkZTMA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMBAf8EAjAAMB0GA1UdJQQWMBQG
CCsGAQUFBwMBBggrBgEFBQcDAjAiBgNVHSAEGzAZMA0GCysGAQQBsjEBAgIdMAgG
BmeBDAECATA6BgNVHR8EMzAxMC+gLaArhilodHRwOi8vY3JsLnVzZXJ0cnVzdC5j
b20vVEVSRU5BU1NMQ0EyLmNybDBsBggrBgEFBQcBAQRgMF4wNQYIKwYBBQUHMAKG
KWh0dHA6Ly9jcnQudXNlcnRydXN0LmNvbS9URVJFTkFTU0xDQTIuY3J0MCUGCCsG
AQUFBzABhhlodHRwOi8vb2NzcC51c2VydHJ1c3QuY29tMC4GA1UdEQQnMCWCI2dl
b3JjaGVzdHJhLnVtcnRoZW1hLnVuaXYtZmNvbXRlLmZyMA0GCSqGSIb3DQEBCwUA
A4IBAQAI5tQWlRmYgxVAwTQU0ATtT/PEdBIfr9cUL8jOTeNuYJV1UWM2BG/C8rx/
xKxEL7Hfp5UhEioGhJCP8gTPZoKNmJoSGE9uR6w01yXW74XMMOvMws48VbeFbkzZ
hdVM0AP+0gG8DxxELmxbAvcQG6Ljg8DyscVkvmg1BT8JCdvCY3lhRIoWfotvORxh
pxyvk92oydlAN9jIGbnbxn6fLNm1QmzYK0O6VeYnsdkRd20qfqgJDSsf/07+veW4
poI7WSskjnNGVXJHF1HRJ/qIOVEr00XfD3wD3HrY5VYPKGxg3hXbVg43YK6CoYMu
0s/tlc7Ha27UGY6alw9xekl8r2Cz
-----END CERTIFICATE-----
